#divLeftPanelBackground
{    
    width: 320px;
    height: 100%;    
    position: absolute;
    top: 55px;
    z-index: 100;
    left:-320px;
     background: rgba(85,107,47,0.90);
    -pie-background: rgba(85,107,47,0.90);
    behavior: url("PIE.htc");
}
#divSearchDetailsPanel
{
    background-color: transparent !important;
    width: 320px;
    height: 100%;
    position: absolute;
    top: 55px;   
    z-index: 100;
    left:-320px;
}
.divInstructions
{  
    height: 170px;    
    color: #F5F5DC;
    overflow: hidden;
    position: relative;
}
/*styles for accordian container*/
.divAccordionTitle, .divAccordionContent, .divDataContainer
{
    position: relative;
    width: 300px;
}
.divAccordionTitle
{
    height: 20px;
    overflow: hidden; 
    font-family: Verdana;
    color: #F5F5DC;
    font-weight: bold;
    vertical-align: middle;
    background-repeat: repeat-x;
    display: table-cell;
    background-image: url(images/titlebar.png) !important;
    background-color: #556B2F !important;
    -moz-user-select: none;
    padding-top:5px;
    padding-left: 20px;    
}
#dialogAlertMessage
{
    width: 300px;
    height: 120px;
}
#dialogAlertMessage .dijitContentPane
{
    background-color: Black;
}
#divMessage
{
    border: none;
    font-family: Verdana;
    font-size: 11px;
    color: #F5F5DC;
    background-color: #556B2F;
    height: 40px;
    width: 250px;
}
#dialogLoadMessage_underlay
{
    background-color: #000;
    filter: alpha(opacity=20);
    -moz-opacity: 0.20;
    -khtml-opacity: 0.20;
    opacity: 0.20;
}
#dialogAlertMessage_underlay
{
    background-color: #000;
    filter: alpha(opacity=20);
    -moz-opacity: 0.20;
    -khtml-opacity: 0.20;
    opacity: 0.20;
}
.divToggleDetailExpand
{
    background-image: url(images/GreenTabHandle.png);
    background-position: 0px 0px;
    width: 28px;
    height: 77px;
    position: absolute; 
    top: 80px;    
    z-index: 99;
    cursor: pointer;
}

.divToggleDetailCollapse
{
    background-image: url(images/GreenTabHandle.png);
    background-position: 28px 0px;
    width: 26px;
    height: 77px;
    position: absolute; 
    top: 80px;
    left: 0px;
    z-index: 99;
    cursor: pointer;
}
#divAppContainer
{
    position: absolute;
    z-index: 100;
    top: 46px;
    right: 35px;
}
.imgSocialMediaIcon
{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.claro .dijitTextBox
{
    background-color:#3C4824 !important;
    border:none !important;
    width:165px;
}
.infoTitle
{
    color: #F5F5DC;
    font-size: 13px;
}
.ctop, .cbottom
{
    display: block;
    background: transparent;
}

.ctop *, .cbottom *
{
    display: block;
    height: 1px !important;
    overflow: hidden;
    background: #3C4824;
}
.dbottom *
{
    display: block;
    height: 1px !important;
    overflow: hidden;
    background:black;
}

.c1
{
    margin: 0px 5px;
    background-color: #3C4824;
}

.c2
{
    margin: 0px 3px;
    background-color: #3C4824;
}

.c3
{
    margin: 0px 2px;
    background-color: #3C4824;
}

.c4
{
    margin: 0px 1px;
    height: 1px;
     background-color: #3C4824;
}
.selectedBaseMap
{
    -webkit-box-shadow: 0 0 15px #FFE771;
    -moz-box-shadow: 0 0 15px #FFE771;
    box-shadow: 0 0 15px #FFE771;   
}

